<!DOCTYPE html>

<html>

<head>
    <title>Alumni Registration</title>
    <script src="js/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>Registrar Aluno</h1>

        <form>
            <label for="fullnome">Nome Completo</label>
            <input nome="fullnome" type="text" v-model="form.nome"/>

            <label for="email">Email</label>
            <input nome="email" type="text" v-model="form.email" />

            <label for="nota">Nota</label>
            <input nome="nota" type="text" v-model="form.nota" />

            <input nome="submit" type="button" value="Cadastrar" @click="adicionarContato" />
        </form>

        <div>
            <table class="table">
                <thead>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Nota</th>
                </thead>
                <tbody>
                    <tr v-for="aluno in alunos"> <!-- v-for="" is the vue.js directive to be used to populate table dynamically -->
                        <td>{{aluno.nome}}</td>
                        <td>{{aluno.email}}</td>
                        <td>{{aluno.nota}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: "#app",

            data: { // "data" object to work with data in vue.js
                form: {
                    nome: '',
                    email: '',
                    nota: ''
                },
                alunos: []
            },

            methods: {
                limpaFormulario: function() {
                    this.form = {nome: '', email: '', nota: ''} // 'this' allows to have access to vue.js objects (form, alunos, methods etc)
                },
                adicionarContato: function() {
                    console.log(this.form)
                    this.alunos.push(this.form) 
                    this.limpaFormulario()
                }

            }
        });
    </script>
    
    <style>
        .table{
            margin-top: 20px;
            width: 100%;
            text-align: left;
        }

        .table th, .table td {
            border-top: 1px solid #ccc;
        }

        input {
            display: block;
        }

        input[type=button] {
            margin-top: 10px;
            background-color: #3F51B5; /* http://materialuicolors.co/ */
            border-color: #3F51B5;
            color: #fff;
        }
    </style>


</body>

</html>